@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-6">
        <a href="/RecordsWCF/Index" class="btn btn-primary btn-lg btn-block" >Web Services</a>
      </div>
      <div class="col-md-6">
        <a href="/Records/Index" class="btn btn-secondary btn-lg btn-block" >Link Entity</a>
      </div>
    </div>
  </div>
